.card {
  background-color: var(--color-white);
  border-radius: 10px;
}

.cardTop {
  background-color: var(--color-white);
  border-radius: 10px 10px 0 0;
}
.cardBottom {
  background-color: #f1f0f5;
  border-radius: 0 0 10px 10px;
}

.cardTop,
.cardBottom {
  padding: 37px 35px;
}