.link {
  color: var(--color-dark-gray);
  text-decoration: none;
}

.link.primary {
  color: var(--color-main);
  font-weight: 500;
  text-decoration: underline;
}

.link.secondary {
  color: var(--color-sub-text);
  text-decoration: none;
}
